<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.dyno.visual.swing.widgetAdapter" name="Widget Adapter" schema="schema/widgetAdapter.exsd"/>
   <extension-point id="org.dyno.visual.swing.widgetGroup" name="Widget Group" schema="schema/widgetGroup.exsd"/>
   <extension-point id="org.dyno.visual.swing.propertyCategory" name="Property Category" schema="schema/propertyCategory.exsd"/>
   <extension-point id="org.dyno.visual.swing.valueType" name="Value Type" schema="schema/valueType.exsd"/>
   <extension-point id="org.dyno.visual.swing.contentTypePattern" name="Content Type Pattern" schema="schema/contentTypePattern.exsd"/>
   <extension-point id="org.dyno.visual.swing.sourceParserFactory" name="Source Parser Factory" schema="schema/sourceParserFactory.exsd"/>
   <extension-point id="org.dyno.visual.swing.widgets.layoutAdapter" name="Layout Adapter" schema="schema/layoutAdapter.exsd"/>
   <extension-point id="org.dyno.visual.swing.borders.borderAdapter" name="Border Adapter" schema="schema/borderAdapter.exsd"/>
   <extension-point id="org.dyno.visual.swing.lnf.lnfAdapter" name="LookAndFeel Adapter" schema="schema/lnfAdapter.exsd"/>
   <extension-point id="org.dyno.visual.swing.listenerAdapter" name="Listener Adapter" schema="schema/listenerAdapter.exsd"/>
   <extension-point id="org.dyno.visual.swing.contextCustomizer" name="customizedContextMenu" schema="schema/contextCustomizer.exsd"/>
   <extension-point id="org.dyno.visual.swing.libraryExtension" name="Library Extension" schema="schema/libraryExtension.exsd"/>
   <extension point="org.eclipse.core.runtime.contentTypes">
	   <content-type id="visualSwing" name="Swing Source" 
			base-type="org.eclipse.jdt.core.javaSource"
			file-extensions="java">
			<describer class="org.dyno.visual.swing.contentTypes.VisualSwingContentDescriber"/>
		</content-type>
	</extension>   
	<extension
         	point="org.eclipse.ui.decorators">
    	<decorator
            adaptable="true"
            label="Visual Swing Source"
            state="true"
            lightweight= "true"
            icon = "icons/thumb.png"
            location="TOP_RIGHT"
            id="org.dyno.visual.swing.decorator">
         	<description>
         		Visual Swing Source File
         	</description>
         	<enablement>
         		<and>
					<objectClass
						name="org.eclipse.jdt.core.ICompilationUnit">
					</objectClass>
					<pluginState id="org.dyno.visual.swing" value="installed"/>
					<objectState
						name="contentTypeId"
						value="org.dyno.visual.swing.visualSwing"/>
				</and>
         	</enablement>
       </decorator>
   </extension>	
    <extension
         point="org.dyno.visual.swing.valueType"
         id="org.dyno.visual.swing.basetypes"
         name="Value Types">
		<type class="javax.swing.Icon"
					renderer = "org.dyno.visual.swing.types.IconRenderer"
					editor = "org.dyno.visual.swing.types.IconEditor"
					endec = "org.dyno.visual.swing.types.IconWrapper"
					parser = "org.dyno.visual.swing.types.IconValueParser"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Visual Swing"
            id="org.dyno.visual.swing.editors">
      </category>
      <view
            name="Palette"
            icon="icons/palette.gif"
            category="org.dyno.visual.swing.editors"
            class="org.dyno.visual.swing.editors.PaletteView"
            id="org.dyno.visual.swing.editors.PaletteView">
      </view>
   	</extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
         	   ratio="0.5"
               relative="org.eclipse.ui.views.ContentOutline"
               relationship="top"
	           visible="false"
               id="org.dyno.visual.swing.editors.PaletteView">
         </view>
         <view  ratio="0.5"
         		relationship="bottom"
         		relative="org.eclipse.jdt.ui.PackageExplorer"
         		id="org.eclipse.ui.views.PropertySheet"
         		visible="false" />
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Visual Editor"
            extensions="java"
            icon="/icons/editor.png"
            contributorClass="org.dyno.visual.swing.editors.VisualSwingEditorContributor"
            class="org.dyno.visual.swing.editors.VisualSwingEditor"
            id="org.dyno.visual.swing.editors.VisualSwingEditor">
            <contentTypeBinding contentTypeId="org.dyno.visual.swing.visualSwing"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Visual Swing Class"
            id="org.dyno.visual.swing">
      </category>
      <wizard
            category="org.dyno.visual.swing"
            class="org.dyno.visual.swing.wizards.NewInternalFrameCreationWizard"
            icon="icons/internal_frame_16.png"
            id="org.dyno.visual.swing.wizards.NewInternalFrameCreationWizard"
            name="Internal Frame">
         <description>
            New JInternalFrame
         </description>
      </wizard>      
      <wizard
            category="org.dyno.visual.swing"
            class="org.dyno.visual.swing.wizards.NewAppletCreationWizard"
            icon="icons/applet_16.png"
            id="org.dyno.visual.swing.wizards.NewAppletCreationWizard"
            name="Applet">
         <description>
            New JApplet
         </description>
      </wizard>
      <wizard
            category="org.dyno.visual.swing"
            class="org.dyno.visual.swing.wizards.NewDialogCreationWizard"
            icon="icons/dialog_16.png"
            id="org.dyno.visual.swing.wizards.NewDialogCreationWizard"
            name="Dialog">
         <description>
            New JDialog
         </description>
      </wizard>
      <wizard
            category="org.dyno.visual.swing"
            class="org.dyno.visual.swing.wizards.NewFrameCreationWizard"
            icon="icons/frame_16.png"
            id="org.dyno.visual.swing.wizards.NewFrameCreationWizard"
            name="Frame">
         <description>
            New JFrame
         </description>
      </wizard>      
      <wizard
            category="org.dyno.visual.swing"
            class="org.dyno.visual.swing.wizards.NewPanelCreationWizard"
            icon="icons/panel_16.png"
            id="org.dyno.visual.swing.wizards.NewPanelCreationWizard"
            name="Panel">
         <description>
            New JPanel
         </description>
      </wizard>
	</extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.dyno.visual.swing.wizards.VisualSwingExtensionLibraryInitializer"
            id="org.dyno.visual.swing.VS_LIBRARY">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.dyno.visual.swing.listenerAdapter">
      <listener
            adapter="java.awt.event.MouseAdapter"
            interface="java.awt.event.MouseListener">
      </listener>
      <listener
            adapter="java.awt.event.MouseMotionAdapter"
            interface="java.awt.event.MouseMotionListener">
      </listener>
      <listener
            adapter="java.awt.event.FocusAdapter"
            interface="java.awt.event.FocusListener">
      </listener>
      <listener
            adapter="java.awt.event.ContainerAdapter"
            interface="java.awt.event.ContainerListener">
      </listener>
      <listener
            adapter="java.awt.event.ComponentAdapter"
            interface="java.awt.event.ComponentListener">
      </listener>
      <listener
            adapter="java.awt.dnd.DragSourceAdapter"
            interface="java.awt.dnd.DragSourceListener">
      </listener>
      <listener
            adapter="java.awt.dnd.DropTargetAdapter"
            interface="java.awt.dnd.DropTargetListener">
      </listener>
      <listener
            adapter="java.awt.event.HierarchyBoundsAdapter"
            interface="java.awt.event.HierarchyBoundsListener">
      </listener>
      <listener
            adapter="javax.swing.event.InternalFrameAdapter"
            interface="javax.swing.event.InternalFrameListener">
      </listener>
      <listener
            adapter="java.awt.event.KeyAdapter"
            interface="java.awt.event.KeyListener">
      </listener>
      <listener
            adapter="java.awt.event.WindowAdapter"
            interface="java.awt.event.WindowListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            menuGroupId="org.eclipse.jdt.ui.java"
            wizardId="org.dyno.visual.swing.wizards.NewInternalFrameCreationWizard">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
		           <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
		           <adapt type="org.eclipse.core.resources.IProject">
		              <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		           </adapt>
		        </or>
		     </enablement>
      </commonWizard>
      <commonWizard
            type="new"
            menuGroupId="org.eclipse.jdt.ui.java"
            wizardId="org.dyno.visual.swing.wizards.NewAppletCreationWizard">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
		           <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
		           <adapt type="org.eclipse.core.resources.IProject">
		              <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		           </adapt>
		        </or>
		     </enablement>
      </commonWizard>    
      <commonWizard
            type="new"
            menuGroupId="org.eclipse.jdt.ui.java"
            wizardId="org.dyno.visual.swing.wizards.NewDialogCreationWizard">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
		           <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
		           <adapt type="org.eclipse.core.resources.IProject">
		              <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		           </adapt>
		        </or>
		     </enablement>
      </commonWizard>      
      <commonWizard
            type="new"
            menuGroupId="org.eclipse.jdt.ui.java"
            wizardId="org.dyno.visual.swing.wizards.NewFrameCreationWizard">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
		           <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
		           <adapt type="org.eclipse.core.resources.IProject">
		              <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		           </adapt>
		        </or>
		     </enablement>
      </commonWizard>
      <commonWizard
            type="new"
            menuGroupId="org.eclipse.jdt.ui.java"
            wizardId="org.dyno.visual.swing.wizards.NewPanelCreationWizard">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
		           <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
		           <adapt type="org.eclipse.core.resources.IProject">
		              <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		           </adapt>
		        </or>
		     </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="org.dyno.visual.swing.wizards.NewAppletCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.dyno.visual.swing.wizards.NewDialogCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.dyno.visual.swing.wizards.NewFrameCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.dyno.visual.swing.wizards.NewInternalFrameCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.dyno.visual.swing.wizards.NewPanelCreationWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut
               id="org.dyno.visual.swing.wizards.NewAppletCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.dyno.visual.swing.wizards.NewDialogCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.dyno.visual.swing.wizards.NewFrameCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.dyno.visual.swing.wizards.NewInternalFrameCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.dyno.visual.swing.wizards.NewPanelCreationWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <newWizardShortcut
               id="org.dyno.visual.swing.wizards.NewAppletCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.dyno.visual.swing.wizards.NewDialogCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.dyno.visual.swing.wizards.NewFrameCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.dyno.visual.swing.wizards.NewInternalFrameCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.dyno.visual.swing.wizards.NewPanelCreationWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.dyno.visual.swing.contextCustomizer">
      <context
            class="org.dyno.visual.swing.plugin.context.SingleAdapterCustomizer">
      </context>
   </extension>
	<extension point="org.eclipse.jdt.ui.classpathContainerPage">
 		<classpathContainerPage
   			id="org.dyno.visual.swing.VS_LIBRARY"
   			name="Visual Swing Extension Library"
   			class="org.dyno.visual.swing.wizards.NewVisualSwingExtensionLibraryWizard">
  	</classpathContainerPage>
 	</extension>
 <extension
       point="org.dyno.visual.swing.libraryExtension">
    <library
          class="org.dyno.visual.swing.wizards.LookAndFeelLibrary">
    </library>
 </extension>
      
</plugin>
