<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
   		point="org.dyno.visual.swing.contentTypePattern"
   		id="org.dyno.visual.swing.widgets.panelpattern"
   		name="Panel Pattern">
   		<!--JPanel source file-->
   		<pattern type="javax.swing.JPanel" value=".*import javax\.swing\.JPanel;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JPanel.*"/>
   		<pattern type="javax.swing.JPanel" value=".*import javax\.swing\.JPanel;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JPanel.*"/>
   		<pattern type="javax.swing.JPanel" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JPanel.*"/>
   		<pattern type="javax.swing.JPanel" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JPanel.*"/>
   		<pattern type="javax.swing.JPanel" value=".*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JPanel.*"/>
   		
   		<pattern type="javax.swing.JFrame" value=".*import javax\.swing\.JFrame;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JFrame.*"/>
   		<pattern type="javax.swing.JFrame" value=".*import javax\.swing\.JFrame;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JFrame.*"/>
   		<pattern type="javax.swing.JFrame" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JFrame.*"/>
   		<pattern type="javax.swing.JFrame" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JFrame.*"/>
   		<pattern type="javax.swing.JFrame" value=".*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JFrame.*"/>
   		<!--
   		
   		<pattern type="javax.swing.JDialog" value=".*import javax\.swing\.JDialog;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JDialog.*"/>
   		<pattern type="javax.swing.JDialog" value=".*import javax\.swing\.JDialog;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JDialog.*"/>
   		<pattern type="javax.swing.JDialog" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JDialog.*"/>
   		<pattern type="javax.swing.JDialog" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JDialog.*"/>
   		<pattern type="javax.swing.JDialog" value=".*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JDialog.*"/>
   		
   		<pattern type="javax.swing.JApplet" value=".*import javax\.swing\.JApplet;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JApplet.*"/>
   		<pattern type="javax.swing.JApplet" value=".*import javax\.swing\.JApplet;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JApplet.*"/>
   		<pattern type="javax.swing.JApplet" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JApplet.*"/>
   		<pattern type="javax.swing.JApplet" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JApplet.*"/>
   		<pattern type="javax.swing.JApplet" value=".*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JApplet.*"/>
		-->   		
   </extension>
   <extension
         point="org.dyno.visual.swing.widgetAdapter"
         id="org.dyno.visual.swing.widgets.beans"
         name="Swing Beans">
         <widget 
         		class="org.dyno.visual.swing.widgets.ComponentAdapter"
         		widgetClass="java.awt.Component"
         		abstract="true">
         		<property id="foreground" name="foreground"/>
         		<property id="background" name="background"/>
        		<property id="font" name="font"/>;        
        		<property id="enabled" name="enabled"/>
         		<property id="bounds" name="bounds" editable="false" gencode="false"/>
        		<property id="minimumSize" name="minimumSize"/>
        		<property id="maximumSize" name="maximumSize"/>
        		<property id="preferredSize" name="preferredSize"/>
        		<property id="focusable" name="focusable"/>
        		<property id="visible" name="visible"/>         		
         </widget>
         <widget 
         		class="org.dyno.visual.swing.widgets.ContainerAdapter"
         		widgetClass="java.awt.Container"
         		abstract="true">
        		<property id="focusCycleRoot" name="focusCycleRoot"/>
        		<property id="focusTraversalPolicyProvider" name="focusTraversalPolicyProvider"/>
         </widget>
         <widget 
         		class="org.dyno.visual.swing.widgets.JComponentAdapter"
         		widgetClass="javax.swing.JComponent"
         		abstract="true">
        		<property id="border" name="border"/>
        		<property id="opaque" name="opaque"/>
        		<property id="toolTipText" name="toolTipText"/>
        		<property id="doubleBuffered" name="doubleBuffered"/>
        		<property id="alignmentX" name="alignmentX"/>
        		<property id="alignmentY" name="alignmentY"/>
        		<property id="autoscrolls" name="autoscrolls"/>
        		<property 
        				id="debugGraphicsOptions" 
        				name="debugGraphicsOptions" 
        				editor="org.dyno.visual.swing.widgets.editors.DebugGraphicsOptionsEditorFactory"
        				renderer="org.dyno.visual.swing.widgets.renderers.DebugGraphicsOptionsRendererFactory" 
        				/>
        		<property id="inheritsPopupMenu" name="inheritsPopupMenu"/>
        		<property id="requestFocusEnabled" name="requestFocusEnabled"/>
        		<property id="verifyInputWhenFocusTarget" name="verifyInputWhenFocusTarget"/>         		
         </widget>
         <widget 
         		class="org.dyno.visual.swing.widgets.JPanelAdapter"
         		widgetClass="javax.swing.JPanel"
         		widgetName="JPanel"
         		groupId="container"
         		icon="/icons/panel_16.png">
        		<property id="border" name="border" />
        		<property id="font" name="font"/>
        		<property id="layout" name="layout" gencode="false"/>
        		<property id="alignmentX" name="alignmentX" gencode="false"/>
        		<property id="alignmentX" name="alignmentY" gencode="false"/>
         </widget>
         <widget 
         		class="org.dyno.visual.swing.widgets.JLabelAdapter"
         		widgetClass="javax.swing.JLabel"
         		widgetName="JLabel"
         		groupId="component"         		
         		icon="/icons/label_16.png">
        		<property id="text" name="text" />
        		<property 	
        			id="horizontalAlignment"
        			name="horizontalAlignment" 
                  	editor="org.dyno.visual.swing.widgets.editors.HorizontalAlignmentEditor"
                  	renderer="org.dyno.visual.swing.widgets.renderers.HorizontalAlignmentRenderer"
                  	/>
        		<property 	
        			id="verticalAlignment"
        			name="verticalAlignment"
                  	editor="org.dyno.visual.swing.widgets.editors.VerticalAlignmentEditor"
                  	renderer="org.dyno.visual.swing.widgets.renderers.VerticalAlignmentRenderer"
                  	/>
        		<property 	
        			id="icon" 
        			name="icon"
        			/>
        		<property 	
        			id="disabledIcon"
        			name="disabledIcon" 
        			gencode="false"
        			/>
        		<property
                class="org.dyno.visual.swing.widgets.properties.HorizontalTextPositionProperty"
                editor="org.dyno.visual.swing.widgets.editors.HorizontalAlignmentEditor"
                id="horizontalTextPosition"
                name="horizontalTextPosition"
                renderer="org.dyno.visual.swing.widgets.renderers.HorizontalAlignmentRenderer"/>
        		<property 	
        			id="iconTextGap"
        			name="iconTextGap" 
        			/>
        		<property 	
        			id="verticalTextPosition"
        			name="verticalTextPosition"
                  	editor="org.dyno.visual.swing.widgets.editors.VerticalAlignmentEditor"
                  	renderer="org.dyno.visual.swing.widgets.renderers.VerticalAlignmentRenderer"
                  	/>
         </widget>
         <widget
         		class="org.dyno.visual.swing.widgets.AbstractButtonAdapter"
         		widgetClass="javax.swing.AbstractButton"
         		widgetName="AbstractButton"
         		groupId="component"
         		abstract="true">
        		<property id="text" name="text"/>
		        <property id="margin" name="margin"/>
		        <property id="borderPainted" name="borderPainted"/>
		        <property id="contentAreaFilled" name="contentAreaFilled"/>
		        <property id="disabledIcon" name="disabledIcon" gencode="false"/>
		        <property id="disabledSelectedIcon" name="disabledSelectedIcon" gencode="false"/>
		        <property id="focusPainted" name="focusPainted"/>
		        <property id="hideActionText" name="hideActionText"/>
		        <property id="horizontalAlignment" name="horizontalAlignment" 
		                  editor="org.dyno.visual.swing.widgets.editors.HorizontalAlignmentEditor"
		                  renderer="org.dyno.visual.swing.widgets.renderers.HorizontalAlignmentRenderer"/>
		        <property id="horizontalTextPosition" name="horizontalTextPosition" 
	           			class="org.dyno.visual.swing.widgets.properties.HorizontalTextPositionProperty"	
		                  editor="org.dyno.visual.swing.widgets.editors.HorizontalAlignmentEditor"
		                  renderer="org.dyno.visual.swing.widgets.renderers.HorizontalAlignmentRenderer"/>
		        <property id="icon" name="icon"/>
		        <property id="iconTextGap" name="iconTextGap"/>
		        <property id="multiClickThreshhold" name="multiClickThreshhold"/>
		        <property id="pressedIcon" name="pressedIcon"/>
		        <property id="rolloverEnabled" name="rolloverEnabled"/>
		        <property id="rolloverIcon" name="rolloverIcon"/>
		        <property id="rolloverSelectedIcon" name="rolloverSelectedIcon"/>
		        <property id="selected" name="selected"/>
		        <property id="selectedIcon" name="selectedIcon"/>
		   		<property id="verticalAlignment"
		        			name="verticalAlignment"
		                  	editor="org.dyno.visual.swing.widgets.editors.VerticalAlignmentEditor"
		                  	renderer="org.dyno.visual.swing.widgets.renderers.VerticalAlignmentRenderer"/>
		   		<property id="verticalTextPosition"
		        			name="verticalTextPosition"
		                  	editor="org.dyno.visual.swing.widgets.editors.HorizontalAlignmentEditor"
		                  	renderer="org.dyno.visual.swing.widgets.renderers.HorizontalAlignmentRenderer"/>
		        <property id="mnemonic"
		        			name="mnemonic"
		        			editor="org.dyno.visual.swing.widgets.editors.CharacterEditor"
		        			renderer="org.dyno.visual.swing.widgets.renderers.CharacterRenderer"/>
         </widget>     
         <widget 
         		class="org.dyno.visual.swing.widgets.JButtonAdapter"
         		widgetClass="javax.swing.JButton"
         		widgetName="JButton"
         		groupId="component"         		
         		icon="/icons/button_16.png">
		        <property id="defaultCapable" name="defaultCapable" gencode="false"/>
		        <property id="border" name="border" gencode="false"/>
         </widget>
         <widget 
         		class="org.dyno.visual.swing.widgets.JToggleButtonAdapter"
         		widgetClass="javax.swing.JToggleButton"
         		widgetName="JToggleButton"
         		groupId="component"         		
         		icon="/icons/toggle_button_16.png">
         </widget>
         <widget 
         		class="org.dyno.visual.swing.widgets.JCheckBoxAdapter"
         		widgetClass="javax.swing.JCheckBox"
         		widgetName="JCheckBox"
         		groupId="component"         		
         		icon="/icons/check_box_16.png">
         </widget>
         <widget 
         		class="org.dyno.visual.swing.widgets.JRadioButtonAdapter"
         		widgetClass="javax.swing.JRadioButton"
         		widgetName="JRadioButton"
         		groupId="component"         		
         		icon="/icons/radio_button_16.png">
         </widget>
         <widget 
         		class="org.dyno.visual.swing.widgets.JComboBoxAdapter"
         		widgetClass="javax.swing.JComboBox"
         		widgetName="JComboBox"
         		groupId="component"         		
         		icon="/icons/combo_box_16.png">
		    	<property id="editable" name="editable"/>
		    	<property id="maximumRowCount" name="maximumRowCount"/>
		    	<property id="selectedIndex" name="selectedIndex" gencode="false"/>
		    	<property id="selectedItem" name="selectedItem" gencode="false"/>
		        <property id="model" name="model"/>
		        <property id="lightWeightPopupEnabled" name="lightWeightPopupEnabled"/>
         </widget>
        <widget 
         		class="org.dyno.visual.swing.widgets.JScrollPaneAdapter"
         		widgetClass="javax.swing.JScrollPane"
         		widgetName="JScrollPane"
         		groupId="container"         		
         		icon="/icons/scroll_pane_16.png">
		    	<property id="horizontalScrollBarPolicy" name="horizontalScrollBarPolicy"
		        			editor="org.dyno.visual.swing.widgets.editors.HorizontalScrollBarPolicyEditor"
		        			renderer="org.dyno.visual.swing.widgets.renderers.HorizontalScrollBarPolicyRenderer"/>
		    	<property id="verticalScrollBarPolicy" name="verticalScrollBarPolicy"
		        			editor="org.dyno.visual.swing.widgets.editors.VerticalScrollBarPolicyEditor"
		        			renderer="org.dyno.visual.swing.widgets.renderers.VerticalScrollBarPolicyRenderer"/>
		        <property id="viewportBorder" name="viewportBorder"/>                  
		    	<property id="wheelScrollingEnabled" name="wheelScrollingEnabled"/>
		</widget>
         <widget 
         		class="org.dyno.visual.swing.widgets.JListAdapter"
         		widgetClass="javax.swing.JList"
         		widgetName="JList"
         		groupId="component"         		
         		icon="/icons/list_16.png">
		    	<property id="selectionMode" 
		    			  name="selectionMode" 
		                  editor="org.dyno.visual.swing.widgets.editors.ListSelectionModeEditor"
		                  renderer="org.dyno.visual.swing.widgets.renderers.ListSelectionModeRenderer"/>
		        <property id="model" 
		        		  name="model"/> 
		        <property id="dragEnabled" name="dragEnabled"/>
		        <property id="fixedCellHeight" name="fixedCellHeight"/>
		        <property id="fixedCellWidth" name="fixedCellWidth"/>
		        <property id="layoutOrientation" name="layoutOrientation"
		                  editor="org.dyno.visual.swing.widgets.editors.LayoutOrientationEditor"
		                  renderer="org.dyno.visual.swing.widgets.renderers.LayoutOrientationRenderer"/>
		        <property id="selectedIndex" name="selectedIndex" gencode="false"/>
		        <property id="selectionBackground" name="selectionBackground"/>
		        <property id="selectionForeground" name="selectionForeground"/>
		        <property id="valueIsAdjusting" name="valueIsAdjusting"/>
		        <property id="visibleRowCount" name="visibleRowCount"/>
         </widget>
         <widget
         		class="org.dyno.visual.swing.widgets.JTextComponentAdapter"
         		widgetClass="javax.swing.text.JTextComponent"
         		widgetName="JTextComponent"
         		groupId="component"
         		abstract="true">
		        <property id="text" name="text"/>
		    	<property id="editable" name="editable"/>
		    	<property id="caretColor" name="caretColor"/>
		    	<property id="caretPosition" name="caretPosition" gencode="false"/>
		    	<property id="disabledTextColor" name="disabledTextColor"/>
		    	<property id="dragEnabled" name="dragEnabled"/>
		    	<property id="margin" name="margin"/>
		    	<property id="selectedTextColor" name="selectedTextColor"/>
		    	<property id="selectionColor" name="selectionColor"/>
		    	<property id="selectionEnd" name="selectionEnd" gencode="false"/>
		    	<property id="selectionStart" name="selectionStart" gencode="false"/>         		
         </widget>
         <widget 
         		class="org.dyno.visual.swing.widgets.JTextFieldAdapter"
         		widgetClass="javax.swing.JTextField"
         		widgetName="JTextField"
         		groupId="component"         		
         		icon="/icons/text_field_16.png">
		    	<property id="columns" name="columns"/>
        		<property 	
        			id="horizontalAlignment"
        			name="horizontalAlignment" 
                  	editor="org.dyno.visual.swing.widgets.editors.HorizontalAlignmentEditor"
                  	renderer="org.dyno.visual.swing.widgets.renderers.HorizontalAlignmentRenderer"/>
				<property id="scrollOffset" name="scrollOffset" gencode="false"/>
         </widget>
         <widget 
         		class="org.dyno.visual.swing.widgets.JTextAreaAdapter"
         		widgetClass="javax.swing.JTextArea"
         		widgetName="JTextArea"
         		groupId="component"         		
         		icon="/icons/text_area_16.png">
		    	<property id="columns" name="columns"/>
		    	<property id="lineWrap" name="lineWrap"/>
		    	<property id="rows" name="rows"/>
		    	<property id="tabSize" name="tabSize"/>
		    	<property id="wrapStyleWord" name="wrapStyleWord"/>
         </widget>         
         <widget 
         		class="org.dyno.visual.swing.widgets.JScrollBarAdapter"
         		widgetClass="javax.swing.JScrollBar"
         		widgetName="JScrollBar"
         		groupId="component"         		
         		icon="/icons/scroll_bar_16.png">
         		<property id="orientation" name="orientation" 
		         		editor="org.dyno.visual.swing.widgets.editors.ScrollBarOrientationEditor"
		         		renderer="org.dyno.visual.swing.widgets.renderers.ScrollBarOrientationRenderer"/>
		    	<property id="blockIncrement" name="blockIncrement"/>
		    	<property id="maximum" name="maximum"/>
		    	<property id="minimum" name="minimum"/>
		        <property id="unitIncrement" name="unitIncrement"/>
		        <property id="visibleAmount" name="visibleAmount"/>
		        <property id="value" name="value"/>
		        <property id="valueIsAdjusting" name="valueIsAdjusting"/>
		 </widget>         
         <widget 
         		class="org.dyno.visual.swing.widgets.JSliderAdapter"
         		widgetClass="javax.swing.JSlider"
         		widgetName="JSlider"
         		groupId="component"         		
         		icon="/icons/slider_16.png">
	         		<property id="orientation" name="orientation" 
			         		editor="org.dyno.visual.swing.widgets.editors.OrientationEditor"
			         		renderer="org.dyno.visual.swing.widgets.renderers.OrientationRenderer"/>
			        <property id="value" name="value"/>
			        <property id="majorTickSpacing" name="majorTickSpacing"/>
			        <property id="maximum" name="maximum"/>
			        <property id="minimum" name="minimum"/>
			        <property id="minorTickSpacing" name="minorTickSpacing"/>
			        <property id="paintLabels" name="paintLabels"/>
			        <property id="paintTicks" name="paintTicks"/>
			        <property id="paintTrack" name="paintTrack"/>
			        <property id="snapToTicks" name="snapToTicks"/>
			        <property id="extent" name="extent"/>
			        <property id="inverted" name="inverted"/>
			        <property id="valueIsAdjusting" name="valueIsAdjusting"/>
         </widget>         
         <widget 
         		class="org.dyno.visual.swing.widgets.JProgressBarAdapter"
         		widgetClass="javax.swing.JProgressBar"
         		widgetName="JProgressBar"
         		groupId="component"         		
         		icon="/icons/progress_bar_16.png">
         		<property id="orientation" name="orientation" 
	         		editor="org.dyno.visual.swing.widgets.editors.OrientationEditor"
	         		renderer="org.dyno.visual.swing.widgets.renderers.OrientationRenderer"/>
         		<property id="value" name="value"/>
		        <property id="maximum" name="maximum"/>
		        <property id="minimum" name="minimum"/>
		        <property id="string" name="string"/>
		        <property id="borderPainted" name="borderPainted"/>
		        <property id="stringPainted" name="stringPainted"/>
		        <property id="indeterminate" name="indeterminate"/>
        </widget>         
         <widget 
         		class="org.dyno.visual.swing.widgets.JFormattedTextFieldAdapter"
         		widgetClass="javax.swing.JFormattedTextField"
         		widgetName="JFormattedTextField"
         		groupId="component"         		
         		icon="/icons/formatted_field_16.png">
    			<property id="border" name="border"/>
				<property id="focusLostBehavior" name="focusLostBehavior"
	         		editor="org.dyno.visual.swing.widgets.editors.FocusLostBehaviorEditor"
	         		renderer="org.dyno.visual.swing.widgets.renderers.FocusLostBehaviorRenderer"/>
         </widget>
         <widget 
         		class="org.dyno.visual.swing.widgets.JPasswordFieldAdapter"
         		widgetClass="javax.swing.JPasswordField"
         		widgetName="JPasswordField"
         		groupId="component"         		
         		icon="/icons/password_field_16.png">
					<property id="echoChar" name="echoChar"/>
         </widget>
         <widget 
         		class="org.dyno.visual.swing.widgets.JSpinnerAdapter"
         		widgetClass="javax.swing.JSpinner"
         		widgetName="JSpinner"
         		groupId="component"         		
         		icon="/icons/spinner_16.png">
		        <property id="model" name="model"/>
         </widget>
         <widget 
         		class="org.dyno.visual.swing.widgets.JSeparatorAdapter"
         		widgetClass="javax.swing.JSeparator"
         		widgetName="JSeparator"
         		groupId="component"         		
         		icon="/icons/separator_16.png">
		        <property id="orientation" name="orientation"
		                  editor="org.dyno.visual.swing.widgets.editors.OrientationEditor"
		                  renderer="org.dyno.visual.swing.widgets.renderers.OrientationRenderer"/>
         </widget>
         <widget 
         		class="org.dyno.visual.swing.widgets.JTextPaneAdapter"
         		widgetClass="javax.swing.JTextPane"
         		widgetName="JTextPane"
         		groupId="component"         		
         		icon="/icons/text_pane_16.png">
         </widget>         
         <widget 
         		class="org.dyno.visual.swing.widgets.JEditorPaneAdapter"
         		widgetClass="javax.swing.JEditorPane"
         		widgetName="JEditorPane"
         		groupId="component"         		
         		icon="/icons/editor_pane_16.png">
    	 		<property id="contentType" name="contentType"/>
         </widget>         
         <widget 
         		class="org.dyno.visual.swing.widgets.JTreeAdapter"
         		widgetClass="javax.swing.JTree"
         		widgetName="JTree"
         		groupId="component"         		
         		icon="/icons/tree_16.png">
		    	<property id="model" name="model"/>
		        <property id="dragEnabled" name="dragEnabled"/>
		        <property id="editable" name="editable"/>
		        <property id="expandsSelectedPaths" name="expandsSelectedPaths"/>
		        <property id="invokesStopCellEditing" name="invokesStopCellEditing"/>
		        <property id="largeModel" name="largeModel"/>
		        <property id="rootVisible" name="rootVisible"/>
		        <property id="rowHeight" name="rowHeight"/>
		        <property id="scrollsOnExpand" name="scrollsOnExpand"/>
		        <property id="showsRootHandles" name="showsRootHandles"/>
		        <property id="toggleClickCount" name="toggleClickCount"/>
		        <property id="visibleRowCount" name="visibleRowCount"/>
         </widget>         
         <widget 
         		class="org.dyno.visual.swing.widgets.JTableAdapter"
         		widgetClass="javax.swing.JTable"
         		widgetName="JTable"
         		groupId="component"         		
         		icon="/icons/table_16.png">
		    	<property id="autoCreateColumnsFromModel" name="autoCreateColumnsFromModel"/>
		    	<property id="autoCreateRowSorter" name="autoCreateRowSorter"/>
		    	<property id="model" name="model"/>
		        <property id="autoResizeMode" name="autoResizeMode"
		                  editor="org.dyno.visual.swing.widgets.editors.AutoResizeModeEditor"
		                  renderer="org.dyno.visual.swing.widgets.renderers.AutoResizeModeRenderer"/>		                  
		    	<property id="cellSelectionEnabled" name="cellSelectionEnabled"/>
		    	<property id="columnSelectionAllowed" name="columnSelectionAllowed"/>
		    	<property id="dragEnabled" name="dragEnabled"/>
		    	<property id="editingColumn" name="editingColumn"/>
		    	<property id="editingRow" name="editingRow"/>
		    	<property id="fillsViewportHeight" name="fillsViewportHeight"/>
		    	<property id="gridColor" name="gridColor"/>
		    	<property id="intercellSpacing" name="intercellSpacing"/>
		    	<property id="rowHeight" name="rowHeight"/>
		    	<property id="rowMargin" name="rowMargin"/>
		    	<property id="rowSelectionAllowed" name="rowSelectionAllowed"/>
		    	<property id="selectionBackground" name="selectionBackground"/>
		    	<property id="selectionForeground" name="selectionForeground"/>
		    	<property id="showHorizontalLines" name="showHorizontalLines"/>
		    	<property id="showVerticalLines" name="showVerticalLines"/>
		    	<property id="surrendersFocusOnKeystroke" name="surrendersFocusOnKeystroke"/>
		    	<property id="updateSelectionOnSort" name="updateSelectionOnSort"/>         		
         </widget>         
         <widget 
         		class="org.dyno.visual.swing.widgets.JTabbedPaneAdapter"
         		widgetClass="javax.swing.JTabbedPane"
         		widgetName="JTabbedPane"
         		groupId="container"         		
         		icon="/icons/tabbed_pane_16.png">
		    	<property id="selectedIndex" name="selectedIndex" gencode="false"/>
    			<property id="tabLayoutPolicy" name="tabLayoutPolicy"
                  		editor="org.dyno.visual.swing.widgets.editors.TabLayoutPolicyEditor"
                  		renderer="org.dyno.visual.swing.widgets.renderers.TabLayoutPolicyRenderer"/>
    			<property id="tabPlacement" name="tabPlacement"
                  		editor="org.dyno.visual.swing.widgets.editors.TabPlacementEditor"
                  		renderer="org.dyno.visual.swing.widgets.renderers.TabPlacementRenderer"/>
         </widget>         
         <widget 
         		class="org.dyno.visual.swing.widgets.JSplitPaneAdapter"
         		widgetClass="javax.swing.JSplitPane"
         		widgetName="JSplitPane"
         		groupId="container"         		
         		icon="/icons/split_pane_16.png">
		    	<property id="dividerLocation" name="dividerLocation"/>
		    	<property id="dividerSize" name="dividerSize"/>
		        <property id="orientation" name="orientation"
                  		editor="org.dyno.visual.swing.widgets.editors.SplitPaneOrientationEditor"
                  		renderer="org.dyno.visual.swing.widgets.renderers.SplitPaneOrientationRenderer"/>
		    	<property id="resizeWeight" name="resizeWeight"/>
		    	<property id="continuousLayout" name="continuousLayout"/>
		    	<property id="lastDividerLocation" name="lastDividerLocation" gencode="false"/>
		    	<property id="oneTouchExpandable" name="oneTouchExpandable"/>
         </widget>         
         <widget 
         		class="org.dyno.visual.swing.widgets.JToolBarAdapter"
         		widgetClass="javax.swing.JToolBar"
         		widgetName="JToolBar"
         		groupId="container"         		
         		icon="/icons/tool_bar_16.png">
		    	<property id="floatable" name="floatable"/>
		    	<property id="rollover" name="rollover"/>
		        <property id="orientation" name="orientation"
                  		editor="org.dyno.visual.swing.widgets.editors.OrientationEditor"
                  		renderer="org.dyno.visual.swing.widgets.renderers.OrientationRenderer"/>
		        <property id="borderPainted" name="borderPainted"/>
		        <property id="font" name="font"/>
		        <property id="margin" name="margin"/>
		        <property id="alignmentY" name="alignmentY" gencode="false"/>         		
         </widget>         
         <widget 
         		class="org.dyno.visual.swing.widgets.JDesktopPaneAdapter"
         		widgetClass="javax.swing.JDesktopPane"
         		widgetName="JDesktopPane"
         		groupId="container"         		
         		icon="/icons/desktop_pane_16.png">
    			<property id="dragMode" name="dragMode"
                  		editor="org.dyno.visual.swing.widgets.editors.DesktopPaneDragModeEditor"
                  		renderer="org.dyno.visual.swing.widgets.renderers.DesktopPaneDragModeRenderer"/>
         </widget>         
         <widget 
         		class="org.dyno.visual.swing.widgets.JInternalFrameAdapter"
         		widgetClass="javax.swing.JInternalFrame"
         		widgetName="JInternalFrame"
         		groupId="container"         		
         		icon="/icons/internal_frame_16.png">
		    	<property id="closable" name="closable"/>
		        <property id="defaultCloseOperation" name="defaultCloseOperation"
                  		editor="org.dyno.visual.swing.widgets.editors.InternalFrameDefaultCloseOperationEditor"
                  		renderer="org.dyno.visual.swing.widgets.renderers.InternalFrameDefaultCloseOperationRenderer"/>
				<property id="iconifiable" name="iconifiable"/>
				<property id="maximizable" name="maximizable"/>
				<property id="resizable" name="resizable"/>
				<property id="title" name="title"/>                  
		        <property id="frameIcon" name="frameIcon"/>
		        <property id="icon" name="icon"/>
		        <property id="layer" name="layer"/>
		        <property id="maximum" name="maximum"/>
		        <property id="normalBounds" name="normalBounds" gencode="false"/>
		        <property id="selected" name="selected"/>
		        <property id="visible" name="visible"/>
		        <property id="border" name="border"/>
         </widget>
         <!--
         <widget 
         		class="org.dyno.visual.swing.widgets.JLayeredPaneAdapter"
         		widgetClass="javax.swing.JLayeredPane"
         		widgetName="JLayeredPane"
         		groupId="container"         		
         		icon="/icons/layered_pane_16.png">
         </widget>
         -->
   </extension>
   <extension
         point="org.dyno.visual.swing.widgetGroup">         
         <group
               displayName="Container"
               id="container"/>
         <group id="component" displayName="Component"/>
   </extension>     
   <extension
         point="org.dyno.visual.swing.propertyCategory">
         <sorting id="nogroup" name="Sort By Name">
         	<category id="default_category" name="Properties" default="true"/>
         </sorting>
         <sorting id="default" name="Sort by Category" default="true">
         		<category id="frequent" name="Common">
         			<provider class="javax.swing.JPanel">
	        			<reference id="background"/>
	        			<reference id="border"/>
	        			<reference id="foreground"/>
	        			<reference id="toolTipText"/>
	        			<reference id="layout"/>
    		        </provider>
    		        <provider class="javax.swing.JLabel">
	                	<reference id="background"/>
	                	<reference id="font"/>
	                	<reference id="foreground"/>
	                	<reference id="horizontalAlignment"/>
	                	<reference id="icon"/>
	                	<reference id="text"/>
	                	<reference id="toolTipText"/>
	                	<reference id="verticalAlignment"/>
    		        </provider>
    		        <provider class="javax.swing.JButton">
			        	<reference id="background"/>
			        	<reference id="font"/>
			        	<reference id="foreground"/>
			        	<reference id="icon"/>
			        	<reference id="text"/>
			        	<reference id="toolTipText"/>
			        	<reference id="mnemonic"/>
    		        </provider>
         			<provider class="javax.swing.JToggleButton">
			        	<reference id="background"/>
			        	<reference id="font"/>
			        	<reference id="foreground"/>
			        	<reference id="icon"/>
			        	<reference id="mnemonic"/>
			        	<reference id="selected"/>
			        	<reference id="text"/>
			        	<reference id="toolTipText"/>
         			</provider>
	         		<provider class="javax.swing.JCheckBox">
			        	<reference id="background"/>
			        	<reference id="font"/>
			        	<reference id="foreground"/>
			        	<reference id="mnemonic"/>
			        	<reference id="selected"/>
			        	<reference id="text"/>
			        	<reference id="toolTipText"/>
	         		</provider>
	         		<provider class="javax.swing.JRadioButton">
			        	<reference id="background"/>
			        	<reference id="font"/>
			        	<reference id="foreground"/>
			        	<reference id="mnemonic"/>
			        	<reference id="selected"/>
			        	<reference id="text"/>
			        	<reference id="toolTipText"/>
	         		</provider>
			        <provider class="javax.swing.JComboBox">
			        	<reference id="background"/>
			        	<reference id="editable"/>
			        	<reference id="font"/>
			        	<reference id="foreground"/>
			        	<reference id="maximumRowCount"/>
			        	<reference id="model"/>
			        	<reference id="selectedIndex"/>
			        	<reference id="selectedItem"/>
			        </provider>
			    	<provider class="javax.swing.JScrollPane">
			    		<reference id="background"/>
			    		<reference id="border"/>
			    		<reference id="foreground"/>
			    		<reference id="horizontalScrollBarPolicy"/>
			    		<reference id="toolTipText"/>
			    		<reference id="verticalScrollBarPolicy"/>
			    		<reference id="viewportBorder"/>
			    	</provider>
			        <provider class="javax.swing.JList">
			        	<reference id="background"/>
			        	<reference id="border"/>
			        	<reference id="font"/>
			        	<reference id="foreground"/>
			        	<reference id="selectionMode"/>
			        	<reference id="toolTipText"/>
			        </provider>
					<provider class="javax.swing.JTextField">
						<reference id="background"/>
						<reference id="columns"/>
						<reference id="editable"/>
						<reference id="font"/>
						<reference id="foreground"/>
						<reference id="horizontalAlignment"/>
						<reference id="text"/>
						<reference id="toolTipText"/>
					</provider>
			    	<provider class="javax.swing.JTextArea">
			    		<reference id="background"/>
			    		<reference id="columns"/>
			    		<reference id="editable"/>
			    		<reference id="font"/>
			    		<reference id="foreground"/>
			    		<reference id="lineWrap"/>
			    		<reference id="rows"/>
			    		<reference id="tabSize"/>
			    		<reference id="text"/>
			    		<reference id="toolTipText"/>
			    		<reference id="wrapStyleWord"/>
			    	</provider>
			        <provider class="javax.swing.JScrollBar">
			        	<reference id="background"/>
			        	<reference id="blockIncrement"/>
			        	<reference id="font"/>
			        	<reference id="foreground"/>
			        	<reference id="maximum"/>
			        	<reference id="minimum"/>
			        	<reference id="orientation"/>
			        	<reference id="toolTipText"/>
			        	<reference id="unitIncrement"/>
			        	<reference id="value"/>
			        	<reference id="visibleAmount"/>
			        </provider>
			        <provider class="javax.swing.JSlider">
			        	<reference id="background"/>
			        	<reference id="font"/>
			        	<reference id="foreground"/>
			        	<reference id="majorTickSpacing"/>
			        	<reference id="maximum"/>
			        	<reference id="minimum"/>
			        	<reference id="minorTickSpacing"/>
			        	<reference id="orientation"/>
			        	<reference id="paintLabels"/>
			        	<reference id="paintTicks"/>
			        	<reference id="paintTrack"/>
			        	<reference id="snapToTicks"/>
			        	<reference id="toolTipText"/>
			        	<reference id="value"/>
			        </provider>
			        <provider class="javax.swing.JProgressBar">
			        	<reference id="background"/>
			        	<reference id="font"/>
			        	<reference id="foreground"/>
			        	<reference id="maximum"/>
			        	<reference id="minimum"/>
			        	<reference id="orientation"/>
			        	<reference id="toolTipText"/>
			        	<reference id="value"/>
			        </provider>
		         	<provider class="javax.swing.JFormattedTextField">
		         		<reference id="background"/>
		         		<reference id="border"/>
		         		<reference id="columns"/>
		         		<reference id="editable"/>
		         		<reference id="foreground"/>
		         		<reference id="horizontalAlignment"/>
		         		<reference id="text"/>
		         		<reference id="toolTipText"/>
		         	</provider>
					<provider class="javax.swing.JPasswordField">
						<reference id="background"/>
						<reference id="columns"/>
						<reference id="editable"/>
						<reference id="font"/>
						<reference id="foreground"/>
						<reference id="horizontalAlignment"/>
						<reference id="text"/>
						<reference id="toolTipText"/>
					</provider>
					<provider class="javax.swing.JSpinner">
						<reference id="background"/>
						<reference id="font"/>
						<reference id="foreground"/>
						<reference id="model"/>
						<reference id="toolTipText"/>
					</provider>
					<provider class="javax.swing.JSeparator">
						<reference id="background"/>
						<reference id="foreground"/>
						<reference id="orientation"/>
						<reference id="toolTipText"/>
					</provider>
					<provider class="javax.swing.JEditorPane">
						<reference id="background"/>
						<reference id="border"/>
						<reference id="contentType"/>
						<reference id="editable"/>
						<reference id="font"/>
						<reference id="foreground"/>
						<reference id="text"/>
						<reference id="toolTipText"/>
					</provider>
					<provider class="javax.swing.JTextPane">
						<reference id="background"/>
						<reference id="border"/>
						<reference id="contentType"/>
						<reference id="editable"/>
						<reference id="font"/>
						<reference id="foreground"/>
						<reference id="text"/>
						<reference id="toolTipText"/>
					</provider>
					<provider class="javax.swing.JTree">
						<reference id="background"/>
						<reference id="border"/>
						<reference id="font"/>
						<reference id="foreground"/>
						<reference id="toolTipText"/>
					</provider>
					<provider class="javax.swing.JTable">
						<reference id="autoCreateColumnsFromModel"/>
						<reference id="autoCreateRowSorter"/>
						<reference id="background"/>
						<reference id="border"/>
						<reference id="font"/>
						<reference id="foreground"/>
						<reference id="toolTipText"/>
					</provider>
					<provider class="javax.swing.JTabbedPane">
						<reference id="background"/>
						<reference id="border"/>
						<reference id="foreground"/>
						<reference id="selectedIndex"/>
						<reference id="tabLayoutPolicy"/>
						<reference id="tabPlacement"/>
						<reference id="toolTipText"/>
					</provider>
					<provider class="javax.swing.JSplitPane">
						<reference id="background"/>
						<reference id="border"/>
						<reference id="dividerLocation"/>
						<reference id="dividerSize"/>
						<reference id="foreground"/>
						<reference id="orientation"/>
						<reference id="resizeWeight"/>
						<reference id="toolTipText"/>
					</provider>
					<provider class="javax.swing.JToolBar">
						<reference id="background"/>
						<reference id="border"/>
						<reference id="floatable"/>
						<reference id="foreground"/>
						<reference id="orientation"/>
						<reference id="rollover"/>
						<reference id="toolTipText"/>
					</provider>
					<provider class="javax.swing.JDesktopPane">
						<reference id="background"/>
						<reference id="border"/>
						<reference id="foreground"/>
						<reference id="toolTipText"/>
					</provider>
					<provider class="javax.swing.JInternalFrame">
						<reference id="background"/>
						<reference id="border"/>
						<reference id="closable"/>
						<reference id="defaultCloseOperation"/>
						<reference id="foreground"/>
						<reference id="iconifiable"/>
						<reference id="maximizable"/>
						<reference id="resizable"/>
						<reference id="title"/>
						<reference id="toolTipText"/>
					</provider>
         		</category>
         		<category id="seldom" name="Expert" filters="org.eclipse.ui.views.properties.expert" default="true"/>
         </sorting>
   </extension>
</plugin>
