<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.dyno.visual.swing.parser.listenerModel" name="Event Listener Model" schema="schema/listenerModel.exsd"/>
   <extension-point id="org.dyno.visual.swing.parser.fieldParser" name="Component Field Parser" schema="schema/fieldParser.exsd"/>
   <extension
         point="org.dyno.visual.swing.sourceParserFactory">
      <factory
            class="org.dyno.visual.swing.parser.DefaultParserFactory">
      </factory>
   </extension>
   <extension
         point="org.dyno.visual.swing.parser.listenerModel">
      <model
            class="org.dyno.visual.swing.parser.listener.AnonymousInnerClassModel"
            id="org.dyno.visual.swing.parser.model.anonymous"
            name="Anonymous Inner Class Listener">
      </model>
      <model
            class="org.dyno.visual.swing.parser.listener.ThisClassModel"
            id="org.dyno.visual.swing.parser.model.this"
            name="This Class Listener">
      </model>
      <model
            class="org.dyno.visual.swing.parser.listener.OuterClassModel"
            id="org.dyno.visual.swing.parser.model.outer"
            name="Outer Class Listener">
      </model>
      <model
            class="org.dyno.visual.swing.parser.listener.InnerClassModel"
            id="org.dyno.visual.swing.parser.model.inner"
            name="Inner Class Listener">
      </model>
   </extension>
</plugin>
