<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.dyno.visual.swing.parser.listenerModel" name="Event Listener Model" schema="schema/listenerModel.exsd"/>
   <extension-point id="org.dyno.visual.swing.parser.fieldParser" name="Component Field Parser" schema="schema/fieldParser.exsd"/>
   <extension-point id="org.dyno.visual.swing.listenerAdapter" name="Listener Adapter" schema="schema/listenerAdapter.exsd"/>
   <extension
         point="org.dyno.visual.swing.sourceParserFactory">
      <factory
            class="org.dyno.visual.swing.parser.DefaultParserFactory">
      </factory>
   </extension>
   <extension
         point="org.dyno.visual.swing.parser.listenerModel">
      <model
            class="org.dyno.visual.swing.parser.listener.DelegationModel"
            id="org.dyno.visual.swing.parser.model.delegation"
            name="Delegation Listener"
            priority="0">
      </model>
      <model
            class="org.dyno.visual.swing.parser.listener.ThisClassModel"
            id="org.dyno.visual.swing.parser.model.this"
            name="This Class Listener"
            priority="5">
      </model>
      <model
            class="org.dyno.visual.swing.parser.listener.OuterClassModel"
            id="org.dyno.visual.swing.parser.model.outer"
            name="Outer Class Listener"
            priority="3">
      </model>
      <model
            class="org.dyno.visual.swing.parser.listener.InnerClassModel"
            id="org.dyno.visual.swing.parser.model.inner"
            name="Inner Class Listener"
            priority="2">
      </model>
      <model
            class="org.dyno.visual.swing.parser.listener.StandaloneClassModel"
            id="org.dyno.visual.swing.parser.model.standalone"
            name="Standalone Class Listener"
            priority="4">
      </model>
      <model
            class="org.dyno.visual.swing.parser.listener.AnonymousInnerModel"
            id="org.dyno.visual.swing.parser.model.anonymous"
            name="Anonymous Inner Class"
            priority="1">
      </model>
   </extension>
   <extension
         point="org.dyno.visual.swing.adapters">
      <interface
            class="org.dyno.visual.swing.parser.spi.IParser"
            default="org.dyno.visual.swing.parser.adapters.WidgetParser">
         <adapter
               class="javax.swing.JComponent"
               implementation="org.dyno.visual.swing.parser.adapters.WidgetParser">
         </adapter>
         <adapter
               class="javax.swing.JLayeredPane"
               implementation="org.dyno.visual.swing.parser.adapters.CompositeParser">
         </adapter>
         <adapter
               class="javax.swing.JMenuBar"
               implementation="org.dyno.visual.swing.parser.adapters.CompositeParser">
         </adapter>
         <adapter
               class="javax.swing.JPopupMenu"
               implementation="org.dyno.visual.swing.parser.adapters.CompositeParser">
         </adapter>
         <adapter
               class="javax.swing.JApplet"
               implementation="org.dyno.visual.swing.parser.adapters.JAppletParser">
         </adapter>
         <adapter
               class="javax.swing.JDesktopPane"
               implementation="org.dyno.visual.swing.parser.adapters.CompositeParser">
         </adapter>
         <adapter
               class="javax.swing.JDialog"
               implementation="org.dyno.visual.swing.parser.adapters.JDialogParser">
         </adapter>
         <adapter
               class="javax.swing.JFrame"
               implementation="org.dyno.visual.swing.parser.adapters.JFrameParser">
         </adapter>
         <adapter
               class="javax.swing.JInternalFrame"
               implementation="org.dyno.visual.swing.parser.adapters.JInternalFrameParser">
         </adapter>
         <adapter
               class="javax.swing.JPanel"
               implementation="org.dyno.visual.swing.parser.adapters.JPanelParser">
         </adapter>
         <adapter
               class="javax.swing.JScrollPane"
               implementation="org.dyno.visual.swing.parser.adapters.JScrollPaneParser">
         </adapter>
         <adapter
               class="javax.swing.JSplitPane"
               implementation="org.dyno.visual.swing.parser.adapters.JSplitPaneParser">
         </adapter>
         <adapter
               class="javax.swing.JTabbedPane"
               implementation="org.dyno.visual.swing.parser.adapters.JTabbedPaneParser">
         </adapter>
         <adapter
               class="javax.swing.JToolBar"
               implementation="org.dyno.visual.swing.parser.adapters.JToolBarParser">
         </adapter>
         <adapter
               class="javax.swing.RootPaneContainer"
               implementation="org.dyno.visual.swing.parser.adapters.RootPaneContainerParser">
         </adapter>
         <adapter
               class="javax.swing.ButtonGroup"
               implementation="org.dyno.visual.swing.parser.adapters.ButtonGroupParser">
         </adapter>
         <adapter
               class="javax.swing.JMenu"
               implementation="org.dyno.visual.swing.parser.adapters.CompositeParser">
         </adapter>
         <adapter
               class="javax.swing.JPopupMenu"
               implementation="org.dyno.visual.swing.parser.adapters.JPopupMenuParser">
         </adapter>
      </interface>
      <interface
            class="org.dyno.visual.swing.parser.spi.ILayoutParser">
         <adapter
               class="java.awt.LayoutManager"
               implementation="org.dyno.visual.swing.parser.adapters.LayoutParser">
         </adapter>
         <adapter
               class="java.awt.BorderLayout"
               implementation="org.dyno.visual.swing.parser.adapters.BorderLayoutParser">
         </adapter>
         <adapter
               class="javax.swing.BoxLayout"
               implementation="org.dyno.visual.swing.parser.adapters.BoxLayoutParser">
         </adapter>
         <adapter
               class="java.awt.CardLayout"
               implementation="org.dyno.visual.swing.parser.adapters.CardLayoutParser">
         </adapter>
         <adapter
               class="java.awt.FlowLayout"
               implementation="org.dyno.visual.swing.parser.adapters.FlowLayoutParser">
         </adapter>
         <adapter
               class="java.awt.GridBagLayout"
               implementation="org.dyno.visual.swing.parser.adapters.GridBagLayoutParser">
         </adapter>
         <adapter
               class="java.awt.GridLayout"
               implementation="org.dyno.visual.swing.parser.adapters.GridLayoutParser">
         </adapter>
         <adapter
               class="org.dyno.visual.swing.layouts.GroupLayout"
               implementation="org.dyno.visual.swing.parser.adapters.GroupLayoutParser">
         </adapter>
      </interface>
      <interface
            class="org.dyno.visual.swing.parser.spi.IPropertyCodeGenerator">
         <adapter
               class="org.dyno.visual.swing.base.FieldProperty"
               implementation="org.dyno.visual.swing.parser.adapters.FieldPropertyParser">
         </adapter>
         <adapter
               class="org.dyno.visual.swing.base.WidgetProperty"
               implementation="org.dyno.visual.swing.parser.adapters.WidgetPropertyParser">
         </adapter>
         <adapter
               class="org.dyno.visual.swing.base.BeanDescriptorProperty"
               implementation="org.dyno.visual.swing.parser.adapters.BeanDescriptorPropertyParser">
         </adapter>
      </interface>
      <interface
            class="org.dyno.visual.swing.parser.spi.IWidgetASTParser"
            default="org.dyno.visual.swing.parser.adapters.WidgetASTParser">
         <adapter
               class="javax.swing.JTabbedPane"
               implementation="org.dyno.visual.swing.parser.adapters.JTabbedPaneASTParser">
         </adapter>
      </interface>
   </extension>
   <extension
         point="org.dyno.visual.swing.parser.fieldParser">
      <parser
            class="org.dyno.visual.swing.parser.adapters.ButtonGroupFieldParser">
      </parser>
   </extension>
   <extension
         point="org.dyno.visual.swing.selectionListener">
      <listener
            class="org.dyno.visual.swing.parser.listener.SyncEditorListener">
      </listener>
   </extension>
   <extension
         point="org.dyno.visual.swing.widgetListener">
      <listener
            class="org.dyno.visual.swing.parser.WidgetRemovalListener">
      </listener>
   </extension>
 </plugin>
