<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.dyno.visual.swing.borders.borderAdapter">
      <border
            adapter="org.dyno.visual.swing.borders.NullBorderAdapter">
      </border>
      <border
            adapter="org.dyno.visual.swing.borders.EmptyBorderAdapter">
      </border>
      <border
            adapter="org.dyno.visual.swing.borders.LineBorderAdapter">
      </border>
      <border
            adapter="org.dyno.visual.swing.borders.CompoundBorderAdapter">
      </border>
      <border
            adapter="org.dyno.visual.swing.borders.BevelBorderAdapter">
      </border>
      <border
            adapter="org.dyno.visual.swing.borders.EtchedBorderAdapter">
      </border>
      <border
            adapter="org.dyno.visual.swing.borders.MatteBorderAdapter">
      </border>
      <border
            adapter="org.dyno.visual.swing.borders.SoftBevelBorderAdapter">
      </border>
      <border
            adapter="org.dyno.visual.swing.borders.TitledBorderAdapter">
      </border>
   </extension>
</plugin>
