<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.jdt.core.javaSource"
            file-extensions="java"
            id="org.noname.designer.swing"
            name="Swing Component"
            priority="normal"
            describer = "org.noname.designer.core.internal.contenttypes.NonameContentType">
   		<pattern type="javax.swing.JPanel" value=".*import javax\.swing\.JPanel;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JPanel.*"/>
   		<pattern type="javax.swing.JPanel" value=".*import javax\.swing\.JPanel;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JPanel.*"/>
   		<pattern type="javax.swing.JPanel" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JPanel.*"/>
   		<pattern type="javax.swing.JPanel" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JPanel.*"/>
   		<pattern type="javax.swing.JPanel" value=".*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JPanel.*"/>
   		
   		<pattern type="javax.swing.JFrame" value=".*import javax\.swing\.JFrame;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JFrame.*"/>
   		<pattern type="javax.swing.JFrame" value=".*import javax\.swing\.JFrame;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JFrame.*"/>
   		<pattern type="javax.swing.JFrame" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JFrame.*"/>
   		<pattern type="javax.swing.JFrame" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JFrame.*"/>
   		<pattern type="javax.swing.JFrame" value=".*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JFrame.*"/>
   		
   		<pattern type="javax.swing.JDialog" value=".*import javax\.swing\.JDialog;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JDialog.*"/>
   		<pattern type="javax.swing.JDialog" value=".*import javax\.swing\.JDialog;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JDialog.*"/>
   		<pattern type="javax.swing.JDialog" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JDialog.*"/>
   		<pattern type="javax.swing.JDialog" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JDialog.*"/>
   		<pattern type="javax.swing.JDialog" value=".*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JDialog.*"/>
   		
   		<pattern type="javax.swing.JApplet" value=".*import javax\.swing\.JApplet;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JApplet.*"/>
   		<pattern type="javax.swing.JApplet" value=".*import javax\.swing\.JApplet;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JApplet.*"/>
   		<pattern type="javax.swing.JApplet" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JApplet.*"/>
   		<pattern type="javax.swing.JApplet" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JApplet.*"/>
   		<pattern type="javax.swing.JApplet" value=".*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JApplet.*"/>

   		<pattern type="javax.swing.JInternalFrame" value=".*import javax\.swing\.JInternalFrame;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JInternalFrame.*"/>
   		<pattern type="javax.swing.JInternalFrame" value=".*import javax\.swing\.JInternalFrame;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JInternalFrame.*"/>
   		<pattern type="javax.swing.JInternalFrame" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*JInternalFrame.*"/>
   		<pattern type="javax.swing.JInternalFrame" value=".*import javax\.swing\.\*;.*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JInternalFrame.*"/>
   		<pattern type="javax.swing.JInternalFrame" value=".*public\s*class\s*[a-zA-Z]\w*\s*extends\s*javax\.swing\.JInternalFrame.*"/>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
    	<decorator
            adaptable="true"
            label="Swing Component"
            state="true"
            lightweight= "true"
            icon = "icons/thumb.png"
            location="TOP_RIGHT"
            id="org.noname.designer.swing.decorator">
         	<description>
         		Swing Component
         	</description>
         	<enablement>
         		<and>
					<objectClass
						name="org.eclipse.jdt.core.ICompilationUnit">
					</objectClass>
					<pluginState id="org.noname.designer" value="installed"/>
					<objectState
						name="contentTypeId"
						value="org.noname.designer.swing"/>
				</and>
         	</enablement>
       </decorator>
   </extension>

</plugin>
