<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension
         point="org.dyno.visual.swing.valueType"
         id="org.dyno.visual.swing.types"
         name="Value Types">
		<type class="boolean" 
					renderer = "org.dyno.visual.swing.types.renderer.BooleanRenderer"
					editor = "org.dyno.visual.swing.types.editor.BooleanEditor"/>
		<type class="java.awt.Color" 
					renderer = "org.dyno.visual.swing.types.renderer.ColorRenderer"
					editor = "org.dyno.visual.swing.types.editor.ColorEditor"
					comparator = "org.dyno.visual.swing.types.comparator.ColorComparator"
					endec = "org.dyno.visual.swing.types.base.ColorWrapper"/>
		<type class="javax.swing.ListModel" 
					renderer = "org.dyno.visual.swing.types.renderer.ListItemRenderer"
					editor = "org.dyno.visual.swing.types.editor.ListItemEditor"
					endec = "org.dyno.visual.swing.types.endec.ListModelWrapper"/>					
		<type class="javax.swing.ComboBoxModel" 
					renderer = "org.dyno.visual.swing.types.renderer.ListItemRenderer"
					editor = "org.dyno.visual.swing.types.editor.ListItemEditor"
					endec = "org.dyno.visual.swing.types.endec.ComboBoxModelWrapper"/>					
		<type class="java.awt.Font" 
					renderer = "org.dyno.visual.swing.types.renderer.FontRenderer"
					editor = "org.dyno.visual.swing.types.editor.FontEditor"
					comparator = "org.dyno.visual.swing.types.comparator.FontComparator"
					endec = "org.dyno.visual.swing.types.base.FontWrapper"/>
		<type class="int"
					editor = "org.dyno.visual.swing.types.editor.IntegerEditor"/>
		<type class="char"
					renderer = "org.dyno.visual.swing.types.renderer.CharRenderer"
					editor = "org.dyno.visual.swing.types.editor.CharEditor"/>
		<type class="long"
					editor = "org.dyno.visual.swing.types.editor.LongEditor"/>
		<type class="float"
					editor = "org.dyno.visual.swing.types.editor.FloatEditor"
					endec = "org.dyno.visual.swing.types.endec.FloatWrapper"/>
		<type class="java.awt.Dimension"
					renderer = "org.dyno.visual.swing.types.renderer.DimensionRenderer"
					editor = "org.dyno.visual.swing.types.editor.DimensionEditor"
					endec = "org.dyno.visual.swing.types.endec.DimensionWrapper"/>
		<type class="java.lang.String"
					editor = "org.dyno.visual.swing.types.editor.StringEditor"
					endec = "org.dyno.visual.swing.types.endec.StringWrapper"/>
		<type class="java.awt.LayoutManager"
					renderer = "org.dyno.visual.swing.types.renderer.LayoutRenderer"
					editor = "org.dyno.visual.swing.types.editor.LayoutEditor"/>
		<type class="javax.swing.border.Border"
					editor = "org.dyno.visual.swing.types.editor.BorderEditor"
					renderer = "org.dyno.visual.swing.types.renderer.BorderRenderer"/>
		<type class="javax.swing.Icon"
					renderer = "org.dyno.visual.swing.types.renderer.IconRenderer"
					editor = "org.dyno.visual.swing.types.editor.IconEditor"
					endec = "org.dyno.visual.swing.types.endec.IconWrapper"/>
		<type class="java.awt.Insets"
					renderer = "org.dyno.visual.swing.types.renderer.InsetsRenderer"
					editor = "org.dyno.visual.swing.types.editor.InsetsEditor"
					comparator = "org.dyno.visual.swing.types.comparator.InsetsComparator"
					endec = "org.dyno.visual.swing.types.endec.InsetsWrapper"/>
		<type class="javax.swing.SpinnerModel"
					renderer = "org.dyno.visual.swing.types.renderer.SpinnerModelRenderer"
					editor = "org.dyno.visual.swing.types.editor.SpinnerModelEditor"
					endec = "org.dyno.visual.swing.types.endec.SpinnerModelWrapper"
					comparator = "org.dyno.visual.swing.types.comparator.SpinnerModelComparator"/>
		<type class="java.awt.Rectangle"
					renderer = "org.dyno.visual.swing.types.renderer.RectangleRenderer"
					editor = "org.dyno.visual.swing.types.editor.RectangleEditor"
					endec = "org.dyno.visual.swing.types.endec.RectangleWrapper"/>
		<type class="javax.swing.table.TableModel"
					renderer = "org.dyno.visual.swing.types.renderer.ClassRenderer"
					endec = "org.dyno.visual.swing.types.endec.TableModelWrapper"/>
		<type class="javax.swing.tree.TreeModel"
					renderer = "org.dyno.visual.swing.types.renderer.ClassRenderer"
					endec = "org.dyno.visual.swing.types.endec.TreeModelWrapper"/>
		<type class="java.util.Date"
					endec = "org.dyno.visual.swing.types.endec.DateWrapper"/>
   </extension>
</plugin>
